.nav-bar {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 16px;
  width: 1140px;
  background: #0055B8;
  border-radius: 5px;
}

.nav-bar-menu {
  margin-right: auto;

}

.nav-bar-menu__list {
  margin-left: 29px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-bar-menu__list-features {

  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 35px;
  list-style-type: none;
}

.nav-bar-menu__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  margin-right: 13px;
}